<p>
    <iframe src="https://upcedupe-my.sharepoint.com/personal/u201713406_upc_edu_pe/_layouts/15/embed.aspx?UniqueId=d4cb5d4f-3259-45f6-b8e0-dfd3323882af&embed=%7B%22ust%22%3Atrue%2C%22hv%22%3A%22CopyEmbedCode%22%7D&referrer=StreamWebApp&referrerScenario=EmbedDialog.Create" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen title="U201713406_ISCDiseñoyGestiondeProyectosdeDesarrollo.mp4"></iframe>  

  <mat-toolbar *ngIf="verificar()">
      <button mat-menu-item class="example-icon" aria-label="Example icon-button with menu icon"
       *ngIf="validarRol()" routerLink="/pages/autores">
          <span>Autores</span>
      </button>
      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="role=='USER'"  routerLink="/pages/libros">
          <span>Libros</span>
      </button>
      <button mat-menu-item  class="example-icon" aria-label="Example icon-button with menu icon"
      routerLink="/login" (click)="cerrar()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar sesiòn</span>
      </button>
      <span class="example-spacer"></span>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
<!--padres para navegar hacia sus hijos-->

